body, html {
    height: 100%;
    margin: 0;
    font-family: helvetica;
    font-weight: 100;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
}

.main-content.open-sidebar {
    left: 240px;
}

#sidebar {
    position: fixed;
    z-index: 1000;
    left: -240px;
    background: #56bc8a;
    width: 240px;
    top:30%;
    height: 29%;
    box-sizing: border-box;
    -webkit-transition: left 0.4s ease-in-out;
    -moz-transition: left 0.4s ease-in-out;
    -ms-transition: left 0.4s ease-in-out;
    -o-transition: left 0.4s ease-in-out;
    transition: left 0.4s ease-in-out;
    text-align:center;
}

.change-sidebar {
    left: 0px !important;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

    #sidebar ul li {
        margin: 0;
    }

        #sidebar ul li a {
            padding: 15px 20px;
            font-size: 16px;
            font-weight: 100;
            color: #56bc8a;
            background:black;
            text-decoration: none;
            display: block;
            border-bottom: 1px solid #56bc8a;
            -webkit-transition: background 0.3s ease-in-out;
            -moz-transition: background 0.3s ease-in-out;
            -ms-transition: background 0.3s ease-in-out;
            -o-transition: background 0.3s ease-in-out;
            transition: background 0.3s ease-in-out;
        }

        #sidebar ul li:hover a {
            background: #C9223D;
        }

.main-content {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    left: 0;
    -webkit-transition: left 0.4s ease-in-out;
    -moz-transition: left 0.4s ease-in-out;
    -ms-transition: left 0.4s ease-in-out;
    -o-transition: left 0.4s ease-in-out;
    transition: left 0.4s ease-in-out;
}

    .main-content .content {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding-left: 60px;
        width: 100%;
    }

        .main-content .content h1 {
            font-weight: 100;
        }

        .main-content .content p {
            width: 100%;
            line-height: 160%;
        }

    .main-content #sidebar-toggle {
        background: black;
        border-radius: 3px;
        display: block;
        position: relative;
        padding: 10px 7px;
        float: left;
    }

        .main-content #sidebar-toggle .bar {
            display: block;
            width: 18px;
            margin-bottom: 3px;
            height: 2px;
            background-color: #fff;
            border-radius: 1px;
        }

            .main-content #sidebar-toggle .bar:last-child {
                margin-bottom: 0;
            }

.large {
    margin-top: 800px;
}
