@model MVC.Models.Product

@{
    Layout = null;
    ViewBag.Title = "AddProduct";
}
<link type="text/css" href="~/Content/Productscss.css" rel="stylesheet" />
<link type="text/css" href="~/Content/NavBarProduct.css" rel="stylesheet" />
<body>
    <div class="header">
        <h1 id="HeaderText" style="font-size:600%;display:none;margin-top:20%">Neutron Store.</h1>

    </div>
    <div style="margin-top:120px;">
        <ul class="nav">
            <li class="navItem"><a href="#">Home</a></li>
            <li class="navItem"><a href="#">Add</a></li>
            <li class="navItem"><a href="#">View</a></li>
            <li class="navItem"><a href="#">Delete</a></li>
            <li class="navItem"><a href="#">update</a></li>
            <li class="navItem"><a href="#">about</a></li>
        </ul>
    </div>
        
    
    <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script type="text/javascript">

        $(function () {
            $('#HeaderText').show(1000);
            //wait(2000);
            window.setTimeout(
                function () {
                    $('.header').css({
                        'height': '18%',
                        

                    });
                    $('#HeaderText').css({
                        'font-size': '30px',
                        'margin-top': '0%'

                    });                },
                2000
            );
           
          
        });
    </script>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
