@{
    Layout = null;
}
<link type="text/css" href="~/Content/stylesheet.css" rel="stylesheet"/>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>NeutronStore</title>
</head>
<body>
@**@
@*    <form>*@
@*        <input type="text" class="txtPost" placeholder="Post a question?" required />*@
@*        <button class="btnPost btnBlue">Post</button>*@
@*    </form>*@
<div>@RenderBody()</div>


</body>
</html>