@{
    Layout = null;
}
<link type="text/css" href="~/Content/stylesheet.css" rel="stylesheet"/>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>NeutronStore</title>
</head>
<body>
<div>@RenderBody()</div>


</body>
</html>