@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

body {
    /* BACKGROUND FROM: subtlepatterns.com */
    background: url(http://subtlepatterns.com/patterns/footer_lodyas.png);
}

.nav {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    background: #222;
   height:4%;
}

.navItem, .navItem a {
    display: inline-block;
    flex-grow: 1;
}

    .navItem a {
        width: 100%;
        color: white;
        text-decoration: none;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(34,34,34,0.4);
        font-weight: 600;
        font-size: 18px;
    }

    .navItem:nth-of-type(1) {
        border-bottom: 2px solid #D60F3A;
    }

        .navItem:nth-of-type(1) a:hover {
            background: #D60F3A;
        }

    .navItem:nth-of-type(2) {
        border-bottom: 2px solid #8317AD;
    }

        .navItem:nth-of-type(2) a:hover {
            background: #8317AD;
        }

    .navItem:nth-of-type(3) {
        border-bottom: 2px solid #3116DE;
    }

        .navItem:nth-of-type(3) a:hover {
            background: #3116DE;
        }

    .navItem:nth-of-type(4) {
        border-bottom: 2px solid #0E8FC2;
    }

        .navItem:nth-of-type(4) a:hover {
            background: #0E8FC2;
        }

    .navItem:nth-of-type(5) {
        border-bottom: 2px solid #0EC23E;
    }

        .navItem:nth-of-type(5) a:hover {
            background: #0EC23E;
        }

    .navItem:nth-of-type(6) {
        border-bottom: 2px solid #CFCF13;
    }

        .navItem:nth-of-type(6) a:hover {
            background: #CFCF13;
        }
