.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #cc5350;
    color: #fff;
    z-index: 1000;
    height: 100%;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    text-align: center;
    line-height: 160px;
    background: url(http://subtlepatterns.com/patterns/footer_lodyas.png);
}
