.header1 {
    position: fixed;
    width:100%;
    height:100%;
    background: white;
    text-align:center;

}
#navbar {
margin-top:5px;
    width: 100%;
    height: 30px;
    background: #cccccc;
    margin-top: 40px;
    display: none;
}


body {
    text-align: center;
}

.textBoxes {
    border-style: none;
    border-bottom: 2px solid #CCCCCC;
    width: 300px;
    margin-top: 30px;
    align-content: center;
    text-align: center;
}

    .textBoxes:focus {
        outline: none;
        text-decoration: none;
    }
